In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r"C:\Users\musab\Downloads\nyc_yellow_taxi_data.csv")

In [4]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,fare_amount
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,238,239,6.0
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,239,238,7.0
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,238,238,6.0
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,238,151,5.5
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,193,193,3.5

In [5]:
maxCount = data.passenger_count.max()

In [6]:
print(maxCount)

9.0

In [7]:
distPickLoc = data['PULocationID'].unique()

In [8]:
print(distPickLoc)

[238 239 193   7 246 163 161  43 143 211 234 138 170 236  50 142 237  24
 232  79 233 148 144 229  41  48  95 141  90 166 249  87 113 107 185 162
 189 140 262 263 151 231  40 261 137 158 181 132  68 164 114 125  75 255
 129  93 226 260 209  65 116  74  13 145 224 256 112 264  17 186  42 157
  88   4  45 257 127 152  12 179 243 244  18 119 190  97 100 265 220 153
  66 196  25  80  36  73 135 146  49  47  51  92 136  37 198 202 173  52
  33  76 169  70  56  10 216  77  32  69 108 235   3 225 228 188 126  94
  60 213  89  83  82 254 194  14 159  34  85 168 223  61 167 247 230  67
 106 217 133 160  62 134 165 147 241 191  54 102 174  78  71  22  55 212
  20  63  35  29 215 120 240 195  72 258 208 183  91  53 121  39  19  28
 227 250 155 182   1 242  26 177 197 131  38  16 221 130 219  21 171 200
 180  44  23 117 207   5 139 222 123 206 124 218 101 210   8 248 214  31
  64  11 150 178 203  81  99  46 149 128 205 252 154 156 187 253 118  86
 175  58  98 122  15 192 109 259  96 115 184   9   6 111  30   2  57 201
  27 251 245]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243241 entries, 0 to 1243240
Data columns (total 7 columns):
VendorID                 1227632 non-null float64
tpep_pickup_datetime     1243241 non-null object
tpep_dropoff_datetime    1243241 non-null object
passenger_count          1227632 non-null float64
PULocationID             1243241 non-null int64
DOLocationID             1243241 non-null int64
fare_amount              1243241 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 66.4+ MB

In [10]:
len(distPickLoc)

255

In [11]:
len(data['DOLocationID'])

1243241

In [12]:
print(data['DOLocationID'])

0          239
1          238
2          238
3          151
4          193
          ...
1243236    145
1243237     78
1243238     78
1243239    166
1243240    166
Name: DOLocationID, Length: 1243241, dtype: int64

In [13]:
data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
data.tpep_pickup_datetime = pd.DatetimeIndex(data.tpep_pickup_datetime)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243241 entries, 0 to 1243240
Data columns (total 7 columns):
VendorID                 1227632 non-null float64
tpep_pickup_datetime     1243241 non-null datetime64[ns]
tpep_dropoff_datetime    1243241 non-null object
passenger_count          1227632 non-null float64
PULocationID             1243241 non-null int64
DOLocationID             1243241 non-null int64
fare_amount              1243241 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 66.4+ MB

In [15]:
data['weekday'] = data.tpep_pickup_datetime.dt.day_name()

In [16]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,fare_amount,weekday
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,238,239,6.0,Wednesday
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,239,238,7.0,Wednesday
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,238,238,6.0,Wednesday
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,238,151,5.5,Wednesday
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,193,193,3.5,Wednesday

In [17]:
subData = data[['weekday', 'tpep_pickup_datetime']]

In [18]:
subData.head()

     weekday tpep_pickup_datetime
0  Wednesday  2020-01-01 00:28:15
1  Wednesday  2020-01-01 00:35:39
2  Wednesday  2020-01-01 00:47:41
3  Wednesday  2020-01-01 00:55:23
4  Wednesday  2020-01-01 00:01:58

In [19]:
print(subData.weekday)

0          Wednesday
1          Wednesday
2          Wednesday
3          Wednesday
4          Wednesday
             ...
1243236      Tuesday
1243237      Tuesday
1243238      Tuesday
1243239      Tuesday
1243240      Tuesday
Name: weekday, Length: 1243241, dtype: object

In [20]:
subData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243241 entries, 0 to 1243240
Data columns (total 2 columns):
weekday                 1243241 non-null object
tpep_pickup_datetime    1243241 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 19.0+ MB

In [21]:
days = subData.weekday

In [22]:
print(days)

0          Wednesday
1          Wednesday
2          Wednesday
3          Wednesday
4          Wednesday
             ...
1243236      Tuesday
1243237      Tuesday
1243238      Tuesday
1243239      Tuesday
1243240      Tuesday
Name: weekday, Length: 1243241, dtype: object

In [23]:
type(days)

pandas.core.series.Series

In [24]:
days.value_counts()

Tuesday      201520
Friday       183477
Saturday     182752
Monday       179515
Wednesday    169437
Sunday       164399
Thursday     162141
Name: weekday, dtype: int64

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243241 entries, 0 to 1243240
Data columns (total 8 columns):
VendorID                 1227632 non-null float64
tpep_pickup_datetime     1243241 non-null datetime64[ns]
tpep_dropoff_datetime    1243241 non-null object
passenger_count          1227632 non-null float64
PULocationID             1243241 non-null int64
DOLocationID             1243241 non-null int64
fare_amount              1243241 non-null float64
weekday                  1243241 non-null object
dtypes: datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 75.9+ MB

In [26]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,fare_amount,weekday
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,238,239,6.0,Wednesday
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,239,238,7.0,Wednesday
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,238,238,6.0,Wednesday
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,238,151,5.5,Wednesday
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,193,193,3.5,Wednesday

In [27]:
type(data)

pandas.core.frame.DataFrame

In [28]:
fare_mean = data["fare_amount"].mean()

In [29]:
fare_mean

13.02977364806841

In [30]:
new_df = data[(data["VendorID"] == 2) & (data["fare_amount"] < fare_mean) & (data["passenger_count"] > 5)]

In [31]:
new_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,fare_amount,weekday
195,2.0,2020-01-01 00:38:43,2020-01-01 00:54:55,6.0,236,170,12.0,Wednesday
218,2.0,2020-01-01 00:24:07,2020-01-01 00:27:48,6.0,129,260,5.5,Wednesday
219,2.0,2020-01-01 00:39:43,2020-01-01 00:45:55,6.0,226,260,7.0,Wednesday
220,2.0,2020-01-01 00:48:29,2020-01-01 00:55:05,6.0,260,129,6.5,Wednesday
453,2.0,2020-01-01 00:47:13,2020-01-01 00:54:52,6.0,161,140,7.5,Wednesday

In [32]:
new_df.isnull()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,fare_amount,weekday
195,False,False,False,False,False,False,False,False
218,False,False,False,False,False,False,False,False
219,False,False,False,False,False,False,False,False
220,False,False,False,False,False,False,False,False
453,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
1227569,False,False,False,False,False,False,False,False
1227576,False,False,False,False,False,False,False,False
1227577,False,False,False,False,False,False,False,False
1227592,False,False,False,False,False,False,False,False
1227611,False,False,False,False,False,False,False,False

In [33]:
new_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,fare_amount,weekday
195,2.0,2020-01-01 00:38:43,2020-01-01 00:54:55,6.0,236,170,12.0,Wednesday
218,2.0,2020-01-01 00:24:07,2020-01-01 00:27:48,6.0,129,260,5.5,Wednesday
219,2.0,2020-01-01 00:39:43,2020-01-01 00:45:55,6.0,226,260,7.0,Wednesday
220,2.0,2020-01-01 00:48:29,2020-01-01 00:55:05,6.0,260,129,6.5,Wednesday
453,2.0,2020-01-01 00:47:13,2020-01-01 00:54:52,6.0,161,140,7.5,Wednesday
...,...,...,...,...,...,...,...,...
1227569,2.0,2020-01-07 20:28:35,2020-01-07 20:35:20,6.0,163,170,7.0,Tuesday
1227576,2.0,2020-01-07 23:57:24,2020-01-08 00:05:22,6.0,229,186,8.0,Tuesday
1227577,2.0,2020-01-07 23:55:28,2020-01-08 00:01:55,6.0,230,163,6.0,Tuesday
1227592,2.0,2020-01-07 23:58:26,2020-01-08 00:07:45,6.0,161,79,9.5,Tuesday
1227611,2.0,2020-01-07 23:59:13,2020-01-08 00:04:34,6.0,142,238,6.5,Tuesday

In [34]:
if((new_df["fare_amount"] > 14)):
    print('shit')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [35]:
new_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,fare_amount,weekday
195,2.0,2020-01-01 00:38:43,2020-01-01 00:54:55,6.0,236,170,12.0,Wednesday
218,2.0,2020-01-01 00:24:07,2020-01-01 00:27:48,6.0,129,260,5.5,Wednesday
219,2.0,2020-01-01 00:39:43,2020-01-01 00:45:55,6.0,226,260,7.0,Wednesday
220,2.0,2020-01-01 00:48:29,2020-01-01 00:55:05,6.0,260,129,6.5,Wednesday
453,2.0,2020-01-01 00:47:13,2020-01-01 00:54:52,6.0,161,140,7.5,Wednesday
...,...,...,...,...,...,...,...,...
1227569,2.0,2020-01-07 20:28:35,2020-01-07 20:35:20,6.0,163,170,7.0,Tuesday
1227576,2.0,2020-01-07 23:57:24,2020-01-08 00:05:22,6.0,229,186,8.0,Tuesday
1227577,2.0,2020-01-07 23:55:28,2020-01-08 00:01:55,6.0,230,163,6.0,Tuesday
1227592,2.0,2020-01-07 23:58:26,2020-01-08 00:07:45,6.0,161,79,9.5,Tuesday
1227611,2.0,2020-01-07 23:59:13,2020-01-08 00:04:34,6.0,142,238,6.5,Tuesday

In [36]:
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,PULocationID,DOLocationID,fare_amount,weekday
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,238,239,6.0,Wednesday
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,239,238,7.0,Wednesday
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,238,238,6.0,Wednesday
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,238,151,5.5,Wednesday
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,193,193,3.5,Wednesday

In [37]:
data.describe()

           VendorID  passenger_count  PULocationID  DOLocationID   fare_amount
count  1.227632e+06     1.227632e+06  1.243241e+06  1.243241e+06  1.243241e+06
mean   1.676771e+00     1.568692e+00  1.627453e+02  1.607467e+02  1.302977e+01
std    4.677094e-01     1.181809e+00  6.610786e+01  7.098176e+01  1.293962e+01
min    1.000000e+00     0.000000e+00  1.000000e+00  1.000000e+00 -1.238000e+03
25%    1.000000e+00     1.000000e+00  1.250000e+02  1.070000e+02  6.000000e+00
50%    2.000000e+00     1.000000e+00  1.610000e+02  1.620000e+02  9.000000e+00
75%    2.000000e+00     2.000000e+00  2.330000e+02  2.330000e+02  1.400000e+01
max    2.000000e+00     9.000000e+00  2.650000e+02  2.650000e+02  1.238000e+03

In [ ]:
passenger_count_mode = data.mode(1, 'passenger_count')

In [ ]:
print(passenger_count_mode)

In [ ]:
passenger_count = data['passenger_count']

In [ ]:
passenger_count